/*--------Typography--------*/
body {
	font-family: 'Open Sans', sans-serif, Arial, Helvetica;
	font-size:15px;
	font-weight:normal;
	color:#111;
}

#banner h1 {
	font-family: 'Open Sans', sans-serif, Arial, Helvetica;
	font-size:62px;
	line-height:60px;
	font-weight:800;
	color:#111;
}

#banner h2 {
	font-family: 'Open Sans', sans-serif, Arial, Helvetica;
	font-size:18px;
	font-weight:300;
	color:#111;
}

#banner .button {
	font-family: 'Open Sans', sans-serif, Arial, Helvetica;
	font-size:16px;
	color:#111;
}

#landing-footer, #landing-footer p, #landing-footer a {
	font-family: 'Open Sans', sans-serif, Arial, Helvetica;
	font-size:12px;
	font-weight:normal;
	color:#999;
}

#portfolio .portfolio-box:hover .portfolio-box-caption {
	font-family: 'Open Sans', sans-serif, Arial, Helvetica;
	font-size:18px;
	color:#111;
}

/*--------Banner Secton--------*/
#banner .section-heading:before,
#banner .section-heading:after {
	content: "";
	display: block;
	width: 30px;
	height: 5px;
	margin-top: 30px;
}

#banner h1 {
	padding-top: 5%;
	padding-bottom: 5%;
}

#banner-content.row {
	padding-top: 100px;
	padding-bottom: 100px;
}

#banner a:hover {
	text-decoration: none;
}

/*Button*/
.button {
	font-size: 16px;
	margin: 35px 0;
	padding: 11px 16px;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	transition: all .3s linear;
	display: inline-block;
	border-width: 3px;
	border-style: solid;
}

/*--------Portforlio Section--------*/
#portfolio .portfolio-box {
	position: relative;
	display: block;
}

#portfolio .portfolio-box .portfolio-box-caption {
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	opacity: 0;
	-webkit-transition: .2s linear;
	-moz-transition: .2s linear;
	transition: .2s linear;
}

#portfolio .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	text-align: center;
}

#portfolio .portfolio-box:hover .portfolio-box-caption {
	opacity: 0.95;
}

#portfolio .portfolio-box:focus {
	outline: 0;
}

/*--------Footer--------*/
footer:before {
	content: "";
	display: block;
	width: 30px;
	height: 5px;
	margin:30px auto 25px auto;
}

/*--------Color--------*/
#banner .button {
	border-color:#111;
}

#banner .button:hover {
	color:#d2b356;
	border-color:#d2b356;
}

a {
	color:#d2b356;
}

a:hover {
	color:#d2b356;
}

#banner .section-heading:before,
#banner .section-heading:after,
footer:before {
	background: #d2b356;
}

#portfolio .portfolio-box .portfolio-box-caption {
	background: rgba(255, 255, 255, 0.95);
}
