/*--------Typography--------*/
body {
	font-family: "Open Sans", sans-serif, Arial, Helvetica;
	font-size: 15px;
	font-weight: normal;
	color: #111;
}

#banner h1 {
	font-family: "Open Sans", sans-serif, Arial, Helvetica;
	font-size: 62px;
	line-height: 60px;
	font-weight: bold;
	color: #111;
}

#banner h2 {
	font-family: "Open Sans", sans-serif, Arial, Helvetica;
	font-size: 18px;
	font-weight: normal;
	color: #111;
}

#banner .button {
	font-family: "Open Sans", sans-serif, Arial, Helvetica;
	font-size: 16px;
	color: #111;
}

#landing-footer,
#landing-footer p,
#landing-footer a {
	font-family: "Open Sans", sans-serif, Arial, Helvetica;
	font-size: 12px;
	font-weight: normal;
	color: #999;
}

#portfolio .portfolio-box:hover .portfolio-box-caption {
	font-family: "Open Sans", sans-serif, Arial, Helvetica;
	font-size: 18px;
	color: #111;
}

/*--------Banner Section--------*/
#banner {
	padding: 12px;
}

#banner .section-heading:before,
#banner .section-heading:after {
	content: "";
	display: block;
	width: 30px;
	height: 5px;
	margin-top: 30px;
}

#banner h1 {
	padding-top: 5%;
	padding-bottom: 5%;
}

#banner-content.row {
	padding-top: 100px;
	padding-bottom: 100px;
}

#banner a:hover {
	text-decoration: none;
}

/*Button*/
.button {
	font-size: 16px;
	margin: 35px 0;
	padding: 11px 16px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	display: inline-block;
	border-width: 3px;
	border-style: solid;
}

/*--------Portfolio Section--------*/
#portfolio .portfolio-container {
	padding: 12px;
}

#portfolio .portfolio-box {
	position: relative;
	display: block;
	overflow: hidden;
	box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.2);
	padding-bottom: 62.5%;
	height: 0;
}

/* #portfolio .portfolio-box:hover img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
} */

#portfolio .portfolio-box img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	transition: 0.5s ease;
}

#portfolio .portfolio-box .portfolio-box-caption {
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	opacity: 0;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	transition: 0.2s ease;
}

#portfolio
	.portfolio-box
	.portfolio-box-caption
	.portfolio-box-caption-content {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	text-align: center;
	font-weight: bold;
	color: #111;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
		1px 1px 0 #fff;
	pointer-events: none;
}

#portfolio .portfolio-box:hover .portfolio-box-caption {
	opacity: 1;
}

#portfolio .portfolio-box:focus {
	outline: 0;
}

/*--------Footer--------*/
footer:before {
	content: "";
	display: block;
	width: 30px;
	height: 5px;
	margin: 30px auto 25px auto;
}

/*--------Color--------*/
#banner .button {
	border-color: #111;
}

#banner .button:hover {
	color: #d2b356;
	border-color: #d2b356;
}

a {
	color: #d2b356;
}

a:hover {
	color: #d2b356;
}

#banner .section-heading:before,
#banner .section-heading:after,
footer:before {
	background: #d2b356;
}

#portfolio .portfolio-box .portfolio-box-caption {
	background: rgba(255, 255, 255, 0.1);
}
